body {
    color: $font-color;
}

.module {
    padding: .5em;
}

.row {
    margin-bottom: 1em;
    width: 100%;
    clear: both;
}

.admin-content {
    max-width: 100%;
}

.pure-menu .pure-menu-heading {
    text-transform: none;
}

.pure-menu a, .pure-menu .pure-menu-heading {
    white-space: normal;
}

.pure-button {
    margin: .5em 0;
}

.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221); /* this is a light blue */
    &:hover {
        color: white;
    }
}

form label {
    font-weight: bold;
}

.instructions {
    font-style: italic;
    color: $light-gray;
}

label.error, .error-message {
    color: $red;
    font-style: italic;
}

.flash-message {
    margin: .5em 0;
    padding: .5em;
    background-color: $light-gray;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 4px;
}

.flash-success {
    background-color: $green;
}

.flash-info {
    background-color: #0078e7;
}

.flash-error {
    background-color: $red;
}

.hidden {
    display: none !important;
}

.pure-form fieldset,
.details-wrapper {
    background: #f4f0ec;
    padding: 0 .5em;
    border-bottom: 2px solid $light-gray;
    margin-bottom: 2em;
}

.details-wrapper {
    padding: .5em;
}

.pure-form fieldset h3,
.details-wrapper h2 {
    background: $light-gray;
    padding: .5em;
    color: #fff;
}

a:hover {
    color: blue;
}

.detail {
    border-bottom: 1px dotted $light-gray;
}

.detail p {
    margin-left: 1em;
}

.button-secondary-green {
    background: $green;
    color: white;
}

.button-secondary-red {
    background: $red;
    color: white;
}

.top-section,
.bottom-section {
    overflow: hidden;
    padding: 1em 1.5em;
}

.top-section {
    background: $blue;
    color: #fff;
}

.top-section-content, .float-right {
    float: right;
}

.bottom-section {
    background: $blue;
    color: #fff;
}

.block-module a,
.top-section a,
.bottom-section a {
    color: #fff;
}

.block-module a:hover,
.top-section a:hover,
.bottom-section a:hover {
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.blue {
    background: $blue;
}

.lighter-blue {
    background: lighten($blue, 25%);
}

.green {
   background: $green; 
}

.orange {
    background: $orange;
}

.purple {
    background: $purple;
}

.red {
    background: $red;
}

.dark-gray {
    background: #b2beb5;
}

.light-blue {
    background: lighten($blue, 15%);
}

.white {
    background: #fff;
}

.black {
    background: #000;
}

.blue-font {
    color: $blue;
}

.green-font {
   color: $green; 
}

.orange-font {
    color: $orange;
}

.purple-font {
    color: $purple;
}

.red-font {
    color: $red;
}

.white-font {
    color: #fff;
}

.black-font {
    color: #000;
}

.dark-blue-font {
    color: darken($blue, 15%);
}

.dark-green-font {
   color: darken($green, 15%); 
}

.dark-orange-font {
    color: darken($orange, 15%);
}

.dark-purple-font {
    color: darken($purple, 15%);
}

.dark-red-font {
    color: darken($red, 15%);
}

.gray-font {
    color: #666;
}

.block-module {
    p {
        padding: 1em;
        color: white;
        font-size: 1.3em;
    }
}

.big-link {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    padding: 1.5em;
}

.register-block {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    padding: 1em;
    font-size: 1.5em;
    line-height: 1.5em;
    &:hover {
        text-decoration: underline;
    }
}

 form .label-for-checkbox {
    display: inline-block;
    margin-left: .2em;
}

.small {
    font-size: .9em;
}

.little-block {
    padding: .5em;
    margin: .5em 0;
    border-radius: 3px;
}

.block {
    padding: .5em 0;
    margin: .5em 0;
}

.anchor-block {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.info-block {
    padding: .5em;
}

.aligned-block {
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;
    padding: .5em
}

.admin-content {

    .admin-table {
        margin: 1em 0;
    }

    .dataTables_wrapper {
        @include clearfix;
    }

    .dataTables_length,
    .dataTables_filter {
        @include clearfix;
        float: left;
        text-align: left;
        margin: 0 2em .5em 0;
        line-height: 2.5em;
    }

}

.anchor-button {
    margin-right: 2em;
}

.four-oh-four {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.overflow-hidden {
    overflow: hidden;
}

.underlined {
    text-decoration: underline;
}

.grade-number-index {
    span {
        display: block;
    }
    input {
        width: 4em;
        margin-bottom: 6px;
    }
}

.final-grade {
    background: $green;
    color: white;
    font-size: 2em;
    line-height: 2em;
    padding: 0.5em;
    text-shadow: 0px 3px 1px #444;
}

.dd {
    margin-left: 2em;
}