.evaluation-summaries {
    margin-top: 1em;
	margin-bottom: 2em;
	background: lighten(#666, 50%);
	padding: 1em;
    overflow: hidden;
}

.site-index-wrapper {
    text-align: center;
    border-bottom: 1px solid #666;
    margin-bottom: 1em;
}

.site-index,
.site-index-text {
    display: inline-block;
}

.site-index {
    font-size: 2em;
    background: $orange;
    color: white;
    width: 2em;
    text-align: center;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    margin-bottom: .5em;
    text-shadow: 2px 2px 0 #444;
}

.site-index-text {
    font-size: 1.7em;
    margin-left: .5em;
}

.site-info {
    font-size: 1.2em;
    padding: .5em;
}

.site-info-label {
    font-size: 1em;
}

.site-name,
.site-url {
    font-weight: bold;
    font-size: 1.2em;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.site-total-grade-wrapper {
    font-weight: bold;
    margin: .5em 0;
    line-height: 2.5em;
}

.site-total-grade {
    font-size: 1.7em;
    background: $blue;
    font-weight: bold;
    color: #fff;
    padding: .3em;
    border-radius: 50%;
    text-shadow: 1px 1px 1px #666;
}

.sites-meter {
    position: relative;
    background: $red;
    padding: .3em .5em;
    .meter-number {
        position: relative;
        z-index: 10;
        color: white;
        font-size: 1.1em;
        text-shadow: 1px 1px 1px #444;
    }
    .progress-bar {
        position: absolute;
        background: $green;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0%;
    }
}

.big-meter {
    font-size: 1.5em;
    padding: .5em;
}

.criteria-section {

	.criterion-link-wrapper {
		margin-bottom: .5em;
		border-bottom: 1px solid #666;
		padding: .5em 0;
	}

	.action-btn {
		margin: 0;
	}

	.criterion-link {
		background: $blue;
		text-decoration: none;
		display: block;
		text-align: center;
		padding: .5em;
		color: #fff;
		font-weight: bold;

		&:hover {
			background: lighten($blue, 10%);
		}
	}

	.criteron-check {
		width: 50%;
		padding: .5em;
	}
    
    .info-block {
        box-shadow: 4px 3px 0px 0px #aaa;
    }

}

.criterion-wrapper {
    background: #008080;
    padding: .5em;
    margin-bottom: 1.5em;
    box-shadow: 8px 8px 0px 0px #aaa;
    
    table {
        margin-bottom: 1.5em;
    }
    
    .criterion-title {
        font-weight: bold;
    }
    
    label {
        color: #fff;
        font-size: 1.2em;
    }
    
    .error, .error-message {
        color: red;
    }
    
    td {
        background: #fff;
    }
    
    td:nth-child(2) {
        font-weight: bold;
    }
}

label[for$="_comment"] {
    color: #c0c0c0;
}

label[for=site_comment] {
    color: #708090;
}

.dynamic-criterion-grade-wrapper {
    display: none;
    font-size: 1.3em;
}

.dynamic-criterion-grade {
    font-weight: bold;
    font-size: 1.5em;
}