body {
    color: #444;
}

.pure-menu .pure-menu-heading {
    text-transform: none;
}

.pure-menu a, .pure-menu .pure-menu-heading {
    white-space: normal;
}

.pure-button {
    margin: .5em 0;
}

form label {
    font-weight: bold;
}

.instructions {
    font-style: italic;
    color: #666;
}

label.error, .error-message {
    color: #dd514c;
    font-style: italic;
}

.flash-message {
    margin: .5em 0;
    padding: .5em;
    background-color: #666;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 4px;
}

.flash-success {
    background-color: #5eb95e;
}

.flash-info {
    background-color: #0078e7;
}

.flash-error {
    background-color: #dd514c;
}

.hidden {
    display: none !important;
}

.pure-form fieldset {
    background: #f4f0ec;
    padding: 0 .5em;
    border-bottom: 2px solid #666;
    margin-bottom: 2em;
}

.pure-form fieldset h3 {
    background: #666;
    padding: .5em;
    color: #fff;
}